/* Primary Color Scale */
$primary-color: #15178f;
$secondary-color: #a1b5d8;
$tertiary-color: #738290;
$accent1-color: #80ff72;
$accent2-color: #f72585;

/* Background Colors */
$background-color: #fafafa;

/* Rounded Corners */
$corner: 0.28571429rem;

/* Background Color */
.base {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  /* Sidebar Container */
  .sidebar {
    grid-column: 1;
    grid-row: 1;
    background-color: $background-color;
    color: white;
    box-sizing: border-box;
    border-radius: $corner;

    /* Sidebar Grid Structure */
    display: grid;
    grid-template-rows: auto 1fr auto;

    .logo {
      grid-row: 1;
      padding-left: 5px;
      padding-top: 5px;
    }

    .selection.menu {
      padding-top: 10px;
      grid-row: 2;
    }

    .bottom.menu {
      grid-row: 3;
    }
  }

  .content {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    background-color: $background-color;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border-radius: $corner;
  }
}

.ui.menu {
  .item {
    &:hover {
      background-color: $secondary-color !important;
    }
  }
}

.ui.vertical.menu {
  margin: 0 !important;
  padding-right: 5px;
}
